{% extends 'base.html' %}

{% block title %} News-Geeks {% endblock %}

{%block homeactive%} active {% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
<div class="p-5 mb-4 bg-dark text-info rounded-pill text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">News-Geeks</h1>
        <p class="fs-4 text-center">Submit Your Press Releases For Free and get ranked-up your news.</p>
        <a href="/blog" role="button" class="btn btn-primary btn-lg" type="button">Submit Press Release</a>
      </div>
</div>
</div>

{% endblock %}